.occupation-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 1rem;
}

.occupation-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 60%;
    justify-content: center;

    gap: 1rem;
}

.occupation-select {
    border: none;
    border-radius: 5px;

    width: 100%;

    outline: none;
    background-color: var(--primary-button-hover);
    color: var(--primary-background);

    padding: 1rem;
    font-size: 1.2rem;
}

.random-button {

    font-size: 1.1rem;

    width: 100%;
}

.info-div {
    padding: 2vh;

    background-color: var(--secondary-background);
    border-radius: 5px;

    grid-column: 1/3;


    display: grid;

    width: 100%;
    height: 100%;


    gap: 1rem;


    font-size: 1.3rem;
    text-align: center;
}

.submit-occupations-button {
    grid-column: 1/3;
    width: 100%;
    height: 5rem;

    font-size: 2rem;
}

@media only screen and (max-width: 800px) {

    .random-button {
        margin: 1rem 0 0 0;
        grid-column: 1;
    }

    .occupation-form {
        grid-template-columns: 1fr;
    }
}