form {
    width: 80%;
}

button, input {
    font-family: inherit;
    font-size: inherit;
}

.calculations-container {
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;

    background-color: var(--secondary-text);
    color: var(--primary-background);

    display: flex;

    font-size: 1.5rem;
}


.skills-container {
    padding: 1rem;

    border-radius: 5px;

    background-color: var(--secondary-background);

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(28, 1fr);

    gap: 0.4rem;

    text-align: left;
}

.skill-div {
    padding: 0.3rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d e f";

    width: 100%;
    gap: 0.5rem;

    
}

.skill-div input, button {
    padding: 0;
}

.skill-div:hover {
    background: var(--primary-button-hover);
    color: var(--primary-background);
}

.skill-div input {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: transparent;
}

.skill-div label {
    display: flex;
    align-items: center;
}

.skill-div .spec-placeholder {
    text-align: start;
    padding-left: 1rem;
    font-size: inherit;
    font-family: inherit;
}

.skill-div input:disabled {
    opacity: 1;
    background: aliceblue;
}

.points-label {
    margin: 0 0.5rem;
}

.skill-label {
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap
}

.skill-label:after {
    content: '................................................................................................................';
}

.points-input {
    border: 0;
    border-radius: 0.25rem;

    margin-top: .3rem;
    padding: .3rem;
    font-size: 1.5rem;

    text-align: center;

    width: 70%;
}

@media only screen and (max-width: 1350px) {
    .skills-container {
        grid-auto-flow: row;
        justify-content: center;
    }

    .skill-div label {
        grid-area: a;
    }

    .skill-div input {
        grid-area: b;
    }

    .skill-div {
        font-size: 1.5rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);

        grid-template-areas:
        "a a a b"
        "c d e f";

        width: 100%;
        gap: 0.5rem;
    }

}
